body {
}

.disable-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

.table tbody tr:hover {
    cursor: pointer;
}

.disable-right-margin {
    margin-right: 0px !important;
}

.checkout-table-container {
    overflow-y: auto;
    min-height: 0;
}
